# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Editor / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dataset
dataset/

# YOLO / training outputs
runs/
wandb/

# Models / weights / copied training artifacts
models/
*.pt
*.pth
*.onnx
*.engine
*.weights

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Hiwonder Jetson SDK
sdk/